@media (max-width:768px) {
  .sidebar{
    display: none !important;
  }
  .offset-2{
    margin-left: 0px !important;
  }
  .fix, .data2{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .fix p,.data2 p{
    padding-top: 2px !important;
  }
  .fix h2,.data2 h2{
    padding-left: 30px !important;
    padding: 0 0 0 30px !important;
    margin: 0px;
  }
  .fix h6,.data2 h6{
    margin: 0px !important;
    padding-top: 5px !important;
  }
  .blur-section{
    bottom: 2px !important;
  }
  .r1{
    padding: 5px !important;
  }
  .videotext p{
    padding: 0px;
  }
  .my-gallery-box {
  margin-left: 2% !important;
  background-color: red;
  
}
}



/* Common scroll container */
.custom-scroll-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 50px auto;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 10px;
  /* rotate */
  transform: rotate(-5deg);
  transform-origin: top left;
  background-color: black;
  margin:0px;
  padding: 0px;
}


.custom-scroll-row {
  display: flex;
  width: 100%; 
  /* transition: transform 0.1s linear; */
}

.custom-scroll-row img {
  width: 100%;
  object-fit: cover;
  display: block;
  opacity: 0.8;
  transition: opacity 0.8s;

  margin: 5px;
  margin-bottom: 10px 5px !important;

  border-radius: 10px;
}


.custom-scroll-row img.custom-visible {
  opacity: 1;
}



body {
  background-color: black !important;
}
html {
  margin: 0, auto;
  /* height: 100%; */
  background: black;
}
.hel {
  margin-top: 10px !important;
  margin-bottom: 20px;
}
.hel input {
  background-color: #e1e1e1;
  border: solid 1px #b5b5b5;
  width: 75%;
  /* float: inline-end; */
  float: left;
  border-radius: 50px;
  margin: 5px 10px;
  height: 40px;
}
.flow {
  background-color: black;
  color: white;
  /* height: 40px; */
  float: left;
  margin-bottom: 2px;
  margin: 5px 10px;
  border-radius: 50px;
}

.flow p {
  font-size: 15px;

  padding: 5px 20px;

  text-transform: capitalize;
}
.flow2 {
  margin: 20px 50%;
  margin: 0, auto;
}


.buShow{
  background-color:black !important;
  color : white;
  margin: 0px;
  padding: 20px 50px;
  border-radius: 30px;
  border: none;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;

}

.buShow span {
  margin-top: 6px;
  background-color: black !important;
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.4s ease;
}
.text1 {
  top: 0; /* top text*/
  
}

.text2 {
  top: 100%; /* bottom */
}

.buShow:hover .text1 {
  top: -100%;
}

.buShow:hover .text2 {
  top: 0;
}

.buShow:hover{
  background-color: red;
  
}

.sidebar {
  background: black;
  color: #fff;
  height: 100vh; /* fixed full height */
  padding: 20px;
  position: fixed; /* sidebar fix */
  top: 0;
  left: 0;
  width: 10%; /* sidebar width */
  overflow-y: auto; /* scroll */
  width: 12%;
}

.sidebar a {
  color: #fefbfb;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.main {
  background-color: black;
}
.sidebar a:hover {
  border-radius: 10px;
  background: #495057;
}
#logo {
  /* background: red; */
}
#logo img {
  width: 50%;
  margin: 0px !important;
  transform: translate(-20px 0px) !important;
}
#logo a:hover {
  background: none !important;
}
/* Content */
.content {
  margin-top: 1.9% !important;
  /* padding-right: 15px !important; */
  background: #f7f9fa;
  border-radius: 20px;
}


.content-section {
  display: none;
}

.content-section.active {
  display: block;
}
.inp {
  width: 200px;
}
.faq {
  background: black;
  color: white;
  border-radius: 30%;
  width: auto;
}
.enquire {
  background: red;
  color: white;
}
.d-block {
  border-radius: 20px;
  margin: 0px;
  /* height: 80% ; */
  padding: 0px;
}
.text1 h6 {
  /* margin-top: 150px; */
  margin-bottom: 120px;

  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
.typing-section {
  margin-top: 90px !important;
  margin-bottom: 30px;
  height: 7vh;
  display: flex; /* flex container */
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  /* background-color: #f0f0f0; */
  overflow: hidden;
}

.typing-section p {
  font-family: "Intel One Mono", monospace;
  text-align: center;
  margin: 0;
  font-size: 24px;
}

.scroll-text {
  display: inline; /* inline for natural flow */
  white-space: nowrap; /* ek line me rahe */
  overflow: hidden;
}

/* @media (max-width: 768px) {
  .scroll-text { font-size: 1.5rem; }
}

@media (min-width: 1200px) {
  .scroll-text { font-size: 2.5rem; }
} */
/* @media (width:768) {
  .content{
    order: 1;
  }
  .sidebar{
    order: 2;
    width: 20px;
    z-index: 1000;
  }
  
} */
.text2 h2 {

}
.text2 h2 {
  font-family: "Roslindale Condensed Testing, sans-serif";
}

.slide2 {
  float: left;
}
.slide2 img {
  overflow-x: auto;
  border-radius: 20px;
  padding-right: 10px;
}
/* Menu Scroll Styling */
.menu-scroll {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding: 10px 0;
  justify-content: flex-start; /*default mobile view*/
}

.menu-btn {
  flex: 0 0 auto;
  cursor: pointer;
  text-align: center;
  padding: 5px 20px;
  background: #eee;
  border-radius: 20px;
  white-space: nowrap;
  transition: 0s;
  border: 1px solid gray;
  font-size: 10px;
}
.menu-btn:hover {
  border: solid 1px rgb(47, 48, 47);
}
.menu-btn.active {
  background: #e50e0e;
  color: #fff;
}
@media (min-width: 768px) {
  .menu-scroll {
    justify-content: center; 
  }
}
/* Slider Sections */
.slider-section {
  display: none;
  margin-top: 20px;
}
.slider-section.active {
  display: block;
}

.slider-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.slider-container::-webkit-scrollbar {
  display: none;
}

.scroll-row::-webkit-scrollbar {
  display: none;
}

.scroll-row a{
  text-decoration: none;
}

.imgdiv{
  position: relative;
  text-align: center;
  text-decoration: none; /* remove underline */
  color: black;

}
.imgdiv img {
  width: 100%;
  height: auto;
  border-radius: 10px !important;
  display: block;
}
.details {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: white;
  background: linear-gradient(to top, black, transparent);
  padding: 10px 0;
  border-radius: 10px;
}
.details H3 {
  color: #f9f9f9;
  text-transform: uppercase;
  font-family: "Roslindale Condensed Testing, sans-serif";
  float: left;
  text-align: left;
  padding-left: 10px;
  opacity: 0.9;
  font-size: 25px;
}
@media (max-width:480px) {
  .details{
    padding-bottom: 1px !important;
    /* padding: 50px,0 !important; */
  }
  
}
@media (max-width:480px) {
  .details h3,.details h2{
    font-size : 16px;
  }
  
}
.centerbutn{
  margin-left:50% ;
}

.btns {
  background: black;
}
.love img {
  width: 100%;
}
.text3 {
  /* margin-top: 500px; */
  margin-top: 100px;
  font-family: "Roslindale Testing, sans-serif" !important;
  text-transform: uppercase;
}
.text4 {
  margin-top: 10px;
  text-transform: uppercase;
  font-family: "Roslindale Condensed Testing, sans-serif";
}
.imgdiv1 {
  position: relative;
}
.imgdiv1 img {
  border-radius: 20px !important;
}

.text3 h6 {
  margin-top: 100px;
}
.imgdiv img {
  width: 100%;
  border-radius: 10px;
}
.text5 h3 {
  width: 100%;
  font-family: " Parisienne, sans-serif";
  font-weight: 400;
  display: block;
}
.text {
  font-family: "Roslindale Condensed Testing, sans-serif";
  text-transform: uppercase;
}
.text p {
  font-family: "Aspekta 350", Arial, sans-serif !important;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 400;
  opacity: 0.68;
  text-align: left;
  width: 80%;
  height: auto;
  margin-top: 40px;
}

.data h6,.imgdiv2 h6 {
  padding-top: 15px;
  text-align: center;
  font-size: 13px !important;
  color: #000000;
}

.data p,.imgdiv2 p {
  padding-top: 5px;
  font-family: "Aspekta 350, Arial, sans-serif " !important;

  font-size: 12px;
  font-weight: 400;
  opacity: 0.68;
  /* text-align: left; */
  width: 100%;
  height: auto;
}
.roundimg_div {
  overflow: hidden;
}
.roundimg_div img {
  width: 100%;
  transition: transform 4s;
}
.roundimg_div img:hover {
  transform: rotate(10deg) scale(1.2, 1.2);
}
.text5 h2 {
  width: 100%;
  font-family: " Cambria, Cochin, Georgia, Times, Times New Roman, serif";
}
.text5 h3 {
  margin-bottom: 200px;
}
.youtube {
  background-color: #e8e6e3;
  border-radius: 20px;
}
/* .youtube img {
  border-radius: 30px;
  padding: 10px 0px;
} */
.youtube iframe {
  border-radius: 25px !important;
  width: 100%;
  padding: 10px 10px 7px 0px;
  /* padding: 10px; */
}
.youtube2 {
  padding: 20px;
}
.text6 h4 {
  text-transform: uppercase;
  color: red;
}
.text6 h2 {
  text-transform: uppercase;
}
.text7 h6 {
  margin-top: 100px;
  text-transform: uppercase;
  font-family: " Cambria, Cochin, Georgia, Times, Times New Roman, serif";
}
.text8 h1 {
  text-transform: uppercase;
  font-family: " Cambria, Cochin, Georgia, Times, Times New Roman, serif";
  margin-bottom: 100px;
}
.text9 h6 {
  margin-top: 20px;
  text-transform: capitalize;
  font-family: " Cambria, Cochin, Georgia, Times, Times New Roman, serif";
}
.text10 h2 {
  text-transform: uppercase;
  font-family: " Cambria, Cochin, Georgia, Times, Times New Roman, serif";
}
.text11 h6 {
  margin-top: 70px;
  text-transform: uppercase;
  font-family: " Cambria, Cochin, Georgia, Times, Times New Roman, serif";
}
.text12 h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: " Cambria, Cochin, Georgia, Times, Times New Roman, serif";
}
.text13 p {
  color: black;
  font-size: 12px;
  margin-top: 30px;
  margin-left: 20px;
}

.bott img {
  margin-bottom: 200px !important;
}
.oo {
  margin-bottom: 200px !important;
}
.fix , .data2 {
  padding-top: 50px;
}
.fix h6,.data2 h6 {
  color: #a39c8f;
  margin-top: 10px;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000;
  text-align: left;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-left: 30px;
  font-family: "Roslindale Testing, sans-serif";

  font-weight: 400;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}
.fix h2,.data2 h2 {
  color: black;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  padding-left: 30px;
  font-weight: bold;
  font-family: "Roslindale Condensed Testing, sans-serif";

  text-rendering: optimizeLegibility;
}
.fix p , .data2 p{
  padding-top: 20px;
  font-family: "Aspekta 350", Arial, sans-serif !important;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 400;
  opacity: 0.68;
  text-align: left;
  width: 80%;
  height: auto;
  padding-left: 30px;
}

.imgdiv2 {
}
.imgdiv2 img {
  width: 100%;

  border-radius: 20px;
}
.mar {
  margin-bottom: 0px !important;
  /* background-color: red; */
}
.mar2 {
  margin-top: 20px;
}
.videoarea {
  margin: 20px !important;
  position: relative;
  overflow: hidden;
  /* border-radius: 15px; */
}
.videoarea video {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}
/* Blur Section */
.blur-section {
  position: absolute;
  bottom: 10px;
  left: 0;
  border-radius: 10px;
}
.r1 {
  background: rgba(0, 0, 0, 0.35); /* black */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  margin: 15px !important;
  padding: 25px;
}
.blur-section a {
  text-decoration: none;
}
.blur-section p:hover {
  opacity: 0.6;
}

.videotext p {
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding-top: 5px;
  margin: 0px;
  color: #fff;
  font-size: 10px;
  opacity: 0.8;
  letter-spacing: 1px;
}

/* About */

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Thumbnail container */





.textmove {
  position: relative;

  overflow: hidden;
  /* cursor: pointer; */

  text-align: center;
  line-height: 40px;
  background: #9c1616;
  border-radius: 50px;
}

.button span {
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.4s ease;
}

.t1 {
  top: 0; /* top text*/
}

.t2 {
  top: 100%; /* bottom */
}

/* Hover 0n swap */
.textmove:hover .t1 {
  top: -100%;
}

.textmove:hover .t2 {
  top: 0;
}



/* Hide scrollbar */
.scroll-row::-webkit-scrollbar {
  display: none;
}


/* Image container */

.img-card {
  position: relative;
  text-align: center;
  text-decoration: none; /* remove underline */
  color: black;
}

.img-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}

/* Play button */
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-icon::before {
  content: "▶";
  color: white;
  font-size: 20px;
  margin-left: 3px;
}

/* Text under image */
.img-text {
  margin-top: 5px;
  font-weight: 500;
  color: black;
  transition: color 1s ease;
}

.img-card:hover .img-text {
  color: red;
}


.my-gallery-box {
  margin-left: 25%;
  --img-size: calc(100px - 0.5rem / 2);
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(6, var(--img-size));
  grid-template-rows: repeat(4, var(--img-size));
}

.my-gallery-box img {
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  grid-column: span 2;
  border-radius: 0.5rem;
  clip-path: path(
    "M 80 20 C 100 0 100 0 120 20 C 140 40 160 60 180 80 C 200 100 200 100 180 120 C 160 140 140 160 120 180 C 100 200 100 200 80 180 C 60 160 40 140 20 120 C 0 100 0 100 20 80 Z"
  );
  transition: filter 500ms, clip-path 500ms;
}

.my-gallery-box img:nth-of-type(4),
.my-gallery-box img:nth-of-type(9) {
  grid-column: 2 / span 2;
}

.my-gallery-box img:hover {
  z-index: 100;
  clip-path: path(
    "M 0 0 C 100 0 100 0 200 0 C 200 50 200 50 200 80 C 200 100 200 100 200 120 C 200 150 200 150 200 200 C 100 200 100 200 0 200 C 0 150 0 150 0 120 C 0 100 0 100 0 80 Z"
  );
}

.my-gallery-box img:not(:hover) {
  animation: zIndexFix 500ms;
}

.my-gallery-box:hover > img {
  filter: brightness(0.5) saturate(0.5);
}

.my-gallery-box > img:hover {
  filter: brightness(1) saturate(1.5);
}

@keyframes zIndexFix {
  0%,
  100% {
    z-index: 10;
  }
}

/* love image */
svg {
  width: 100%;
  height: auto;
  display: block;
}

path {
  fill: none;
  stroke: red;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  transition: stroke-dashoffset 1.5s linear;
}
